/* The navbar container */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

/* Navbar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Links — change color on hover */
.navbar a:hover {
    background-color: dimgray;
    color: black;
}

.navbar a.active {
    background-color: dimgray;
    color: white;
}

/* Content styles */
.content {
    padding: 20px;
    text-align: center;
    background-color: white;
}

h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 20px;
}

form {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-image: linear-gradient(to bottom right, deepskyblue, blue, white);
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

footer {
    padding: 20px;
    text-align: center;
    background: #333;
    color: white;
}